html {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

.btn:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
}

.btn {
  color: #0084a6;
  border-color: #8bc9d9;
}

.border-line {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

@media screen and (max-width: 608px) {
  .lefty {
    text-align: left;
  }
}
